._74r9{border:0;font-size:13px;font-weight:600px;height:40px;padding-left:0;padding-right:0}
._3t9c{padding-top:12px;position:relative}._3t9n{border-radius:4px;height:36px;margin-right:12px;width:36px}._3t9o{line-height:34px;margin-left:20px}

#bootloader_j_C2M{height:42px;}.bootloader_j_C2M{display:block!important;}